FLIGHTS_API = "http://api.aviationstack.com/v1/flights"
AIRPORTS_API = "http://api.aviationstack.com/v1/airports"

PROXY = {"http": "<proxy_url>"}

ACCESS_KEYS = (
    "<access_key_1>",
    ...,
    "<access_key_n>",
)
